@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #212121;
}

.calc_body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.result {
  background-color: #212121;
  color: #fafafa;
  border-radius: 8px 8px 0 0;
  padding: 20px;
  font-size: 2.5rem;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.buttons button {
  padding: 30px;
  font-size: 1.5rem;
  border: none;
  transition: 0.2s all linear;
}

.buttons button:hover {
  background-color: #e0e0e0;
  transition: 0.3s;
}

.buttons button:active {
  background-color: #bdbdbd;
}

.equal {
  background-color: #f57f17;
}
